{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <p>Welcome {{ user.username }}</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <p>Please Login!</p>
{% endif %}
<table>
    <tr>
        <th>Nom Du Projet</th>
        <th>Description</th>
        <th>Etat</th>
        <th>Delete</th>
    </tr>
    {%  for p in pp %}
        <tr>
        <td>{{ p.nom_projet }}</td>
        <td>{{ p.description }}</td>
        <td>{{ p.est_valide }}</td>
        <td><a href="{% url 'supp' p.id %}">Delete</a></td>
        <td><a href="{% url 'supp2' p.id %}">DeleteGeneric</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}